:root {
  --color_background: #763cb7;
  --color_background_middle: #5E2E92;
  --color_text: #fff;
  --color_background_button: #73DD3F;
}

body {
  background-color: var(--color_background);
  font-family: 'Lobster', cursive;
  color: #fff;
}

header {
  display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.content-color-bg {
  background-color: var(--color_background_middle);
}
.content-color-bg-fotter {
  background-color: #a379c1;
}
.title {
  font-family: 'Lato', sans-serif;
  color: #F7F0F0;
  letter-spacing: 0px;
  opacity: 1;
}

.subtitle {
  font-family: 'Lobster', cursive;
    letter-spacing: 0px;
    color: #F7F0F0;
    text-shadow: 0px 3px 6px #636363;
    opacity: 1;
    font-size: 55px;
    margin-left: -138px;
    font-weight: bold;
}